openapi: "3.1.0"
info:
  title: "Customer Web API - Stable"
  version: "1.0.0"
  description: "Implementation-ready contract for Guest, Registered Customer, and verified B2B Customer journeys. Marketplace and Offline are channels, not web login roles."
  license:
    name: "Proprietary"
    identifier: "LicenseRef-Proprietary"
servers:
  -
    url: "https://api.omama.vn"
    description: "Production API gateway"
tags:
  -
    name: "Authentication"
    description: "Authentication operations for the customer web application."
  -
    name: "B2B"
    description: "B2B operations for the customer web application."
  -
    name: "Cart"
    description: "Cart operations for the customer web application."
  -
    name: "Catalog"
    description: "Catalog operations for the customer web application."
  -
    name: "Checkout"
    description: "Checkout operations for the customer web application."
  -
    name: "Customer capabilities"
    description: "Customer capabilities operations for the customer web application."
  -
    name: "Locations"
    description: "Locations operations for the customer web application."
  -
    name: "Loyalty"
    description: "Loyalty operations for the customer web application."
  -
    name: "Orders"
    description: "Orders operations for the customer web application."
  -
    name: "Payments"
    description: "Payments operations for the customer web application."
  -
    name: "Customer profile"
    description: "Customer profile operations for the customer web application."
  -
    name: "Promotions"
    description: "Promotions operations for the customer web application."
  -
    name: "After-sales"
    description: "After-sales operations for the customer web application."
  -
    name: "Reviews"
    description: "Reviews operations for the customer web application."
  -
    name: "Customer support"
    description: "Customer support operations for the customer web application."
  -
    name: "Traceability"
    description: "Traceability operations for the customer web application."
  -
    name: "Partner webhooks"
    description: "Partner webhooks operations for the customer web application."
paths:
  "/api/v1/auth/login":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthLogin"
      summary: "Đăng nhập hệ thống bằng Số điện thoại & Mật khẩu"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "user"
                  - "tokens"
                properties:
                  user:
                    type: "object"
                    required:
                      - "customer_id"
                      - "phone_number"
                      - "full_name"
                      - "email"
                      - "avatar_url"
                      - "membership_tier"
                      - "loyalty_points"
                    properties:
                      customer_id:
                        type: "string"
                      phone_number:
                        type: "string"
                      full_name:
                        type: "string"
                      email:
                        type: "string"
                        format: "email"
                      avatar_url:
                        type: "string"
                        format: "uri"
                      membership_tier:
                        type: "string"
                      loyalty_points:
                        type: "integer"
                    additionalProperties: false
                  tokens:
                    type: "object"
                    required:
                      - "access_token"
                      - "refresh_token"
                      - "token_type"
                      - "expires_in"
                    properties:
                      access_token:
                        type: "string"
                      refresh_token:
                        type: "string"
                      token_type:
                        type: "string"
                      expires_in:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    user:
                      customer_id: "CUST-8820"
                      phone_number: "0905123456"
                      full_name: "Nguyễn Văn An"
                      email: "an.nguyen@example.com"
                      avatar_url: "https://cdn.omama.vn/avatars/u8820.jpg"
                      membership_tier: "{{oneOf 'BRONZE' 'SILVER' 'GOLD' 'DIAMOND'}}"
                      loyalty_points: 450
                    tokens:
                      access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      refresh_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      token_type: "Bearer"
                      expires_in: 900
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "identifier"
                - "password"
              properties:
                identifier:
                  type: "string"
                password:
                  type: "string"
              additionalProperties: false
            example:
              identifier: "0905123456"
              password: "StrongPass!123"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/auth/logout":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthLogout"
      summary: "Đăng xuất và thu hồi phiên làm việc"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "message"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    success: true
                    message: "Đăng xuất thành công."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/auth/me":
    get:
      tags:
        - "Authentication"
      operationId: "getAuthMe"
      summary: "Lấy thông tin danh tính tài khoản đang đăng nhập"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "customer_id"
                  - "phone_number"
                  - "full_name"
                  - "email"
                  - "avatar_url"
                  - "membership_tier"
                  - "loyalty_points"
                properties:
                  customer_id:
                    type: "string"
                  phone_number:
                    type: "string"
                  full_name:
                    type: "string"
                  email:
                    type: "string"
                    format: "email"
                  avatar_url:
                    type: "string"
                    format: "uri"
                  membership_tier:
                    type: "string"
                  loyalty_points:
                    type: "integer"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    customer_id: "CUST-8820"
                    phone_number: "0905123456"
                    full_name: "Nguyễn Văn An"
                    email: "an.nguyen@example.com"
                    avatar_url: "https://cdn.omama.vn/avatars/u8820.jpg"
                    membership_tier: "{{oneOf 'BRONZE' 'SILVER' 'GOLD' 'DIAMOND'}}"
                    loyalty_points: 450
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  "/api/v1/auth/recovery-requests":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthRecoveryRequests"
      summary: "AUTH-C07/C10 — Request or resend a neutral password-recovery email response."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "202":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "accepted"
                  - "messageCode"
                properties:
                  accepted:
                    type: "boolean"
                  messageCode:
                    type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    accepted: true
                    messageCode: "RECOVERY_REQUEST_ACCEPTED"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "email"
              properties:
                email:
                  type: "string"
                  format: "email"
              additionalProperties: false
            example:
              email: "an@example.com"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/auth/recovery-requests/reset":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthRecoveryRequestsReset"
      summary: "AUTH-C09 — Reset password, revoke all sessions, and require normal login."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "204":
          description: "Completed successfully; no response body."
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "resetProof"
                - "newPassword"
              properties:
                resetProof:
                  type: "string"
                newPassword:
                  type: "string"
              additionalProperties: false
            example:
              resetProof: "reset-proof"
              newPassword: "NewStrongPass!123"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/auth/recovery-requests/verify":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthRecoveryRequestsVerify"
      summary: "AUTH-C08 — Exchange a password-recovery magic-link token for a restricted reset proof."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "verified"
                  - "resetProof"
                  - "expiresAt"
                properties:
                  verified:
                    type: "boolean"
                  resetProof:
                    type: "string"
                  expiresAt:
                    type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    verified: true
                    resetProof: "mock-reset-proof-valid"
                    expiresAt: "{{dateTimeShift minutes=5}}"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "410":
          $ref: "#/components/responses/Gone"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "recoveryToken"
              properties:
                recoveryToken:
                  type: "string"
              additionalProperties: false
            example:
              recoveryToken: "recovery-token"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/auth/refresh":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthRefresh"
      summary: "Cấp mới Access Token bằng Refresh Token"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "access_token"
                  - "refresh_token"
                  - "token_type"
                  - "expires_in"
                properties:
                  access_token:
                    type: "string"
                  refresh_token:
                    type: "string"
                  token_type:
                    type: "string"
                  expires_in:
                    type: "integer"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    refresh_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    token_type: "Bearer"
                    expires_in: 900
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "refresh_token"
              properties:
                refresh_token:
                  type: "string"
              additionalProperties: false
            example:
              refresh_token: "opaque-refresh-token"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/auth/register":
    post:
      tags:
        - "Authentication"
      operationId: "postAuthRegister"
      summary: "Đăng ký tài khoản khách hàng cá nhân (D2C)"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "201":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "user"
                  - "tokens"
                properties:
                  user:
                    type: "object"
                    required:
                      - "customer_id"
                      - "phone_number"
                      - "full_name"
                      - "email"
                      - "avatar_url"
                      - "membership_tier"
                      - "loyalty_points"
                    properties:
                      customer_id:
                        type: "string"
                      phone_number:
                        type: "string"
                      full_name:
                        type: "string"
                      email:
                        type: "string"
                        format: "email"
                      avatar_url:
                        type: "string"
                        format: "uri"
                      membership_tier:
                        type: "string"
                      loyalty_points:
                        type: "integer"
                    additionalProperties: false
                  tokens:
                    type: "object"
                    required:
                      - "access_token"
                      - "refresh_token"
                      - "token_type"
                      - "expires_in"
                    properties:
                      access_token:
                        type: "string"
                      refresh_token:
                        type: "string"
                      token_type:
                        type: "string"
                      expires_in:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    user:
                      customer_id: "CUST-8820"
                      phone_number: "0905123456"
                      full_name: "Nguyễn Văn An"
                      email: "an.nguyen@example.com"
                      avatar_url: "https://cdn.omama.vn/avatars/u8820.jpg"
                      membership_tier: "{{oneOf 'BRONZE' 'SILVER' 'GOLD' 'DIAMOND'}}"
                      loyalty_points: 450
                    tokens:
                      access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      refresh_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      token_type: "Bearer"
                      expires_in: 900
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "phone_number"
                - "full_name"
                - "email"
                - "password"
              properties:
                phone_number:
                  type: "string"
                full_name:
                  type: "string"
                email:
                  type: "string"
                  format: "email"
                password:
                  type: "string"
              additionalProperties: false
            example:
              phone_number: "0905123456"
              full_name: "Nguyen Van An"
              email: "an@example.com"
              password: "StrongPass!123"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/b2b/context":
    get:
      tags:
        - "B2B"
      operationId: "getB2bContext"
      summary: "Verified B2B organization, quote-request form options and recent customer-owned requests."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "organization"
                  - "deliveryProvinces"
                  - "catalog"
                  - "recentRequests"
                  - "discountTiers"
                  - "attachmentPolicy"
                properties:
                  organization:
                    type: "object"
                    required:
                      - "organizationId"
                      - "legalName"
                      - "taxCode"
                      - "representativeName"
                      - "representativeTitle"
                      - "phone"
                      - "email"
                      - "invoiceAddress"
                      - "verificationStatus"
                    properties:
                      organizationId:
                        type: "string"
                      legalName:
                        type: "string"
                      taxCode:
                        type: "string"
                      representativeName:
                        type: "string"
                      representativeTitle:
                        type: "string"
                      phone:
                        type: "string"
                      email:
                        type: "string"
                        format: "email"
                      invoiceAddress:
                        type: "string"
                      verificationStatus:
                        type: "string"
                    additionalProperties: false
                  deliveryProvinces:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "provinceCode"
                        - "provinceName"
                      properties:
                        provinceCode:
                          type: "string"
                        provinceName:
                          type: "string"
                      additionalProperties: false
                  catalog:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "skuId"
                        - "name"
                        - "variant"
                        - "unitPriceVnd"
                        - "minimumQuantity"
                      properties:
                        skuId:
                          type: "string"
                        name:
                          type: "string"
                        variant:
                          type: "string"
                        unitPriceVnd:
                          type: "integer"
                        minimumQuantity:
                          type: "integer"
                      additionalProperties: false
                  recentRequests:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "requestId"
                        - "requestNumber"
                        - "status"
                        - "statusLabel"
                        - "submittedAt"
                        - "totalQuantity"
                        - "purposeLabel"
                      properties:
                        requestId:
                          type: "string"
                        requestNumber:
                          type: "string"
                        status:
                          type: "string"
                        statusLabel:
                          type: "string"
                        submittedAt:
                          type: "string"
                          format: "date-time"
                        totalQuantity:
                          type: "integer"
                        purposeLabel:
                          type: "string"
                        quoteId:
                          type: "string"
                      additionalProperties: false
                  discountTiers:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "minimumQuantity"
                        - "discountPercent"
                        - "label"
                      properties:
                        minimumQuantity:
                          type: "integer"
                        maximumQuantity:
                          type: "integer"
                        discountPercent:
                          type: "integer"
                        label:
                          type: "string"
                      additionalProperties: false
                  attachmentPolicy:
                    type: "object"
                    required:
                      - "allowedMediaTypes"
                      - "maxFiles"
                      - "maxBytesPerFile"
                    properties:
                      allowedMediaTypes:
                        type: "array"
                        items:
                          type: "string"
                      maxFiles:
                        type: "integer"
                      maxBytesPerFile:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    organization:
                      organizationId: "org-fpt-central"
                      legalName: "Tập đoàn Công nghệ & Tài chính FPT - Chi nhánh Miền Trung"
                      taxCode: "0101248141"
                      representativeName: "Bà Trần Hoàng Uyên Thư"
                      representativeTitle: "Trưởng phòng Đối ngoại"
                      phone: "0935882199"
                      email: "thutran@fpt.com.vn"
                      invoiceAddress: "Tòa nhà FPT Complex, Khu đô thị FPT City, Phường Ngũ Hành Sơn, Thành phố Đà Nẵng"
                      verificationStatus: "VERIFIED"
                    deliveryProvinces:
                      -
                        provinceCode: "HUE"
                        provinceName: "Thành phố Huế"
                      -
                        provinceCode: "DA-NANG"
                        provinceName: "Thành phố Đà Nẵng"
                    catalog:
                      -
                        skuId: "SKU-GIFT-ROYAL"
                        name: "Set Hoàng Gia Ngự Sắc"
                        variant: "Hộp gỗ khắc logo · 4 món bánh"
                        unitPriceVnd: 1250000
                        minimumQuantity: 30
                      -
                        skuId: "SKU-GIFT-TRI-KY"
                        name: "Set Cố Đô Tri Kỷ"
                        variant: "Hộp gấm thêu hoa văn triều Nguyễn"
                        unitPriceVnd: 750000
                        minimumQuantity: 50
                      -
                        skuId: "SKU-GIFT-THANH-NHA"
                        name: "Set Di Sản Thanh Nhã"
                        variant: "Nhãn OCOP và thiệp doanh nghiệp"
                        unitPriceVnd: 420000
                        minimumQuantity: 100
                    recentRequests:
                      -
                        requestId: "b2br-2025-fpt-08"
                        requestNumber: "B2BR-2026-FPT-08"
                        status: "QUOTED"
                        statusLabel: "Đã phát hành báo giá"
                        submittedAt: "2026-09-22T03:30:00.000Z"
                        totalQuantity: 200
                        purposeLabel: "Tri ân khách hàng VIP"
                        quoteId: "quote-2025-fpt08"
                      -
                        requestId: "b2br-2025-fpt-07"
                        requestNumber: "B2BR-2026-FPT-07"
                        status: "NEEDS_INFO"
                        statusLabel: "Cần bổ sung thông tin"
                        submittedAt: "2026-09-18T08:15:00.000Z"
                        totalQuantity: 120
                        purposeLabel: "Quà hội nghị"
                    discountTiers:
                      -
                        minimumQuantity: 30
                        maximumQuantity: 100
                        discountPercent: 10
                        label: "Tri ân doanh nghiệp"
                      -
                        minimumQuantity: 101
                        maximumQuantity: 300
                        discountPercent: 18
                        label: "Số lượng vừa"
                      -
                        minimumQuantity: 301
                        maximumQuantity: 500
                        discountPercent: 25
                        label: "Bao bì và miễn phí"
                      -
                        minimumQuantity: 501
                        discountPercent: 30
                        label: "Thiết kế hậu riêng"
                    attachmentPolicy:
                      allowedMediaTypes:
                        - "image/png"
                        - "image/jpeg"
                        - "image/webp"
                        - "image/svg+xml"
                        - "application/pdf"
                      maxFiles: 3
                      maxBytesPerFile: 26214400
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  "/api/v1/b2b/quote-requests":
    post:
      tags:
        - "B2B"
      operationId: "postB2bQuoteRequests"
      summary: "Create an idempotent customer-owned B2B quote request. File entries are metadata; object upload and scan remain external."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "201":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "requestId"
                  - "requestNumber"
                  - "status"
                  - "statusLabel"
                  - "submittedAt"
                  - "totalQuantity"
                  - "purposeLabel"
                  - "message"
                properties:
                  requestId:
                    type: "string"
                  requestNumber:
                    type: "string"
                  status:
                    type: "string"
                  statusLabel:
                    type: "string"
                  submittedAt:
                    type: "string"
                    format: "date-time"
                  totalQuantity:
                    type: "integer"
                  purposeLabel:
                    type: "string"
                  message:
                    type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    requestId: "b2br-2026-fpt-09"
                    requestNumber: "B2BR-2026-FPT-09"
                    status: "REQUESTED"
                    statusLabel: "Đã tiếp nhận"
                    submittedAt: "2026-10-01T03:15:00.000Z"
                    totalQuantity: 200
                    purposeLabel: "Tri ân khách hàng VIP & đối tác"
                    message: "Ô Mạ đã tiếp nhận yêu cầu. Chuyên viên B2B sẽ phản hồi trong 2 giờ làm việc."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "organizationId"
                - "purpose"
                - "requestedDeliveryDate"
                - "deliveryProvinceCode"
                - "deliveryProvinceName"
                - "items"
                - "branding"
                - "invoiceRequested"
                - "sampleRequested"
                - "idempotencyKey"
              properties:
                organizationId:
                  type: "string"
                purpose:
                  type: "string"
                requestedDeliveryDate:
                  type: "string"
                  format: "date"
                deliveryProvinceCode:
                  type: "string"
                deliveryProvinceName:
                  type: "string"
                items:
                  type: "array"
                  items:
                    type: "object"
                    required:
                      - "skuId"
                      - "quantity"
                    properties:
                      skuId:
                        type: "string"
                      quantity:
                        type: "integer"
                    additionalProperties: false
                branding:
                  type: "object"
                  required:
                    - "engraveLogo"
                    - "customSleeve"
                    - "greetingCard"
                    - "ribbon"
                    - "attachments"
                  properties:
                    engraveLogo:
                      type: "boolean"
                    customSleeve:
                      type: "boolean"
                    greetingCard:
                      type: "boolean"
                    ribbon:
                      type: "boolean"
                    attachments:
                      type: "array"
                      items: {}
                  additionalProperties: false
                invoiceRequested:
                  type: "boolean"
                sampleRequested:
                  type: "boolean"
                idempotencyKey:
                  type: "string"
              additionalProperties: false
            example:
              organizationId: "ORG-FPT-MT"
              purpose: "VIP_CUSTOMER_GIFT"
              requestedDeliveryDate: "2026-11-15"
              deliveryProvinceCode: "48"
              deliveryProvinceName: "Thanh pho Da Nang"
              items:
                -
                  skuId: "SKU-GIFT-ROYAL"
                  quantity: 80
              branding:
                engraveLogo: true
                customSleeve: true
                greetingCard: true
                ribbon: false
                attachments: []
              invoiceRequested: true
              sampleRequested: false
              idempotencyKey: "60d69078-d6c4-4b4e-a042-f2452dc155c5"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/b2b/quotes/{quoteId}":
    get:
      tags:
        - "B2B"
      operationId: "getB2bQuotesQuoteId"
      summary: "Customer-safe released quote detail. Drafts and internal notes are never projected."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "quoteId"
                  - "quoteNumber"
                  - "version"
                  - "status"
                  - "statusLabel"
                  - "issuedAt"
                  - "expiresAt"
                  - "organization"
                  - "contact"
                  - "items"
                  - "customizations"
                  - "totals"
                  - "terms"
                  - "payment"
                  - "canAccept"
                properties:
                  quoteId:
                    type: "string"
                  quoteNumber:
                    type: "string"
                  version:
                    type: "integer"
                  status:
                    type: "string"
                  statusLabel:
                    type: "string"
                  issuedAt:
                    type: "string"
                    format: "date-time"
                  expiresAt:
                    type: "string"
                    format: "date-time"
                  organization:
                    type: "object"
                    required:
                      - "organizationId"
                      - "legalName"
                      - "taxCode"
                    properties:
                      organizationId:
                        type: "string"
                      legalName:
                        type: "string"
                      taxCode:
                        type: "string"
                    additionalProperties: false
                  contact:
                    type: "object"
                    required:
                      - "displayName"
                      - "title"
                      - "phone"
                      - "email"
                    properties:
                      displayName:
                        type: "string"
                      title:
                        type: "string"
                      phone:
                        type: "string"
                      email:
                        type: "string"
                        format: "email"
                    additionalProperties: false
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "skuId"
                        - "name"
                        - "variant"
                        - "quantity"
                        - "unitPriceVnd"
                        - "lineTotalVnd"
                      properties:
                        skuId:
                          type: "string"
                        name:
                          type: "string"
                        variant:
                          type: "string"
                        quantity:
                          type: "integer"
                        unitPriceVnd:
                          type: "integer"
                        lineTotalVnd:
                          type: "integer"
                      additionalProperties: false
                  customizations:
                    type: "array"
                    items:
                      type: "string"
                  totals:
                    type: "object"
                    required:
                      - "merchandiseVnd"
                      - "discountVnd"
                      - "customizationVnd"
                      - "vatVnd"
                      - "grandTotalVnd"
                      - "depositPercent"
                      - "depositVnd"
                      - "remainingVnd"
                    properties:
                      merchandiseVnd:
                        type: "integer"
                      discountVnd:
                        type: "integer"
                      customizationVnd:
                        type: "integer"
                      vatVnd:
                        type: "integer"
                      grandTotalVnd:
                        type: "integer"
                      depositPercent:
                        type: "integer"
                      depositVnd:
                        type: "integer"
                      remainingVnd:
                        type: "integer"
                    additionalProperties: false
                  terms:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "title"
                        - "description"
                      properties:
                        title:
                          type: "string"
                        description:
                          type: "string"
                      additionalProperties: false
                  payment:
                    type: "object"
                    required:
                      - "bankName"
                      - "accountName"
                      - "accountNumberMasked"
                      - "transferContent"
                    properties:
                      bankName:
                        type: "string"
                      accountName:
                        type: "string"
                      accountNumberMasked:
                        type: "string"
                      transferContent:
                        type: "string"
                    additionalProperties: false
                  canAccept:
                    type: "boolean"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    quoteId: "quote-2025-fpt08"
                    quoteNumber: "QUOTE-2026-FPT08"
                    version: 3
                    status: "SENT"
                    statusLabel: "Đã phát hành — chờ doanh nghiệp duyệt"
                    issuedAt: "2026-09-25T02:30:00.000Z"
                    expiresAt: "2026-11-05T16:59:59.000Z"
                    organization:
                      organizationId: "org-fpt-central"
                      legalName: "Tập đoàn Công nghệ & Tài chính FPT - Chi nhánh Miền Trung"
                      taxCode: "0101248141"
                    contact:
                      displayName: "Lê Thị Đoan Trang"
                      title: "Chuyên viên phụ trách doanh nghiệp"
                      phone: "0905128688"
                      email: "b2b@omabanhmuthue.vn"
                    items:
                      -
                        skuId: "SKU-GIFT-ROYAL"
                        name: "Bánh Phục Linh Ngự Sắc Hoàng Cung"
                        variant: "Hộp gỗ 250g · Bộ tinh hoa ngự thiện"
                        quantity: 200
                        unitPriceVnd: 220000
                        lineTotalVnd: 44000000
                      -
                        skuId: "SKU-GIFT-TRI-KY"
                        name: "Mè Xửng Dẻo Ngự Thiện Hạt Sen"
                        variant: "Gói 300g hạt chân không"
                        quantity: 200
                        unitPriceVnd: 165000
                        lineTotalVnd: 33000000
                      -
                        skuId: "SKU-GIFT-THANH-NHA"
                        name: "Trà Sen Hồ Tịnh Tâm Thượng Phẩm"
                        variant: "Hộp thiếc 100g"
                        quantity: 200
                        unitPriceVnd: 240000
                        lineTotalVnd: 48000000
                    customizations:
                      - "200 hộp gỗ khắc laser logo FPT"
                      - "200 thiệp chúc Tết thiết kế riêng"
                      - "Túi giấy màu nhận diện doanh nghiệp"
                    totals:
                      merchandiseVnd: 170000000
                      discountVnd: 30600000
                      customizationVnd: 0
                      vatVnd: 11152000
                      grandTotalVnd: 150552000
                      depositPercent: 30
                      depositVnd: 45165600
                      remainingVnd: 105386400
                    terms:
                      -
                        title: "Tiến độ giao hàng bảo đảm"
                        description: "Đợt 1 giao 150 hộp ngày 15/10 tại Đà Nẵng; đợt 2 giao 50 hộp tại Huế trước 16:00 ngày 18/10/2026."
                      -
                        title: "Hóa đơn và nghĩa vụ thuế"
                        description: "Xuất hóa đơn điện tử GTGT theo yêu cầu; đơn giá đã bao gồm VAT và phí tùy biến đã chốt."
                      -
                        title: "Bảo toàn hương vị và đổi trả"
                        description: "Cam kết đổi mới miễn phí với sản phẩm lỗi khách quan theo chính sách đính kèm."
                      -
                        title: "Bảo mật danh sách VIP"
                        description: "Thông tin người nhận do doanh nghiệp cung cấp chỉ dùng để hoàn tất giao nhận."
                      -
                        title: "Lộ trình thanh toán hai đợt"
                        description: "Đặt cọc 30% khi ký điện tử; phần còn lại thanh toán trong 20 ngày sau nghiệm thu."
                    payment:
                      bankName: "Vietcombank · CN Huế"
                      accountName: "CÔNG TY TNHH BÁNH MỨT CUNG ĐÌNH Ô MẠ"
                      accountNumberMasked: "**** 8288"
                      transferContent: "COC HD FPT08"
                    canAccept: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "quoteId"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
  "/api/v1/b2b/quotes/{quoteId}/accept":
    post:
      tags:
        - "B2B"
      operationId: "postB2bQuotesQuoteIdAccept"
      summary: "Accept exactly the released quote version and create one B2B order reference. Acceptance does not mark the order paid."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "quoteId"
                  - "status"
                  - "acceptedAt"
                  - "orderId"
                  - "orderNumber"
                  - "message"
                properties:
                  quoteId:
                    type: "string"
                  status:
                    type: "string"
                  acceptedAt:
                    type: "string"
                    format: "date-time"
                  orderId:
                    type: "string"
                  orderNumber:
                    type: "string"
                  message:
                    type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    quoteId: "quote-2025-fpt08"
                    status: "ACCEPTED"
                    acceptedAt: "2026-10-01T03:30:00.000Z"
                    orderId: "ord-b2b-fpt08"
                    orderNumber: "B2B-2026-FPT08"
                    message: "Đã ghi nhận chấp thuận Quote Version 3 và tạo Order B2B chờ đặt cọc."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "quoteId"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
        -
          $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "confirmation"
                - "idempotencyKey"
              properties:
                confirmation:
                  type: "boolean"
                idempotencyKey:
                  type: "string"
              additionalProperties: false
            example:
              confirmation: true
              idempotencyKey: "482b2f90-6f68-47f3-9bf2-1022ee5b173a"
  "/api/v1/cart":
    get:
      tags:
        - "Cart"
      operationId: "getCart"
      summary: "Lấy thông tin giỏ hàng hiện tại"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_05"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "cart_id"
                  - "items"
                  - "total_items"
                  - "subtotal_amount"
                properties:
                  cart_id:
                    type: "string"
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "item_id"
                        - "sku_code"
                        - "product_name"
                        - "variant_name"
                        - "thumbnail_url"
                        - "unit_price"
                        - "quantity"
                        - "subtotal"
                        - "in_stock"
                      properties:
                        item_id:
                          type: "string"
                        sku_code:
                          type: "string"
                        product_name:
                          type: "string"
                        variant_name:
                          type: "string"
                        thumbnail_url:
                          type: "string"
                          format: "uri"
                        unit_price:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        quantity:
                          type: "integer"
                        subtotal:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        in_stock:
                          type: "boolean"
                      additionalProperties: false
                  total_items:
                    type: "integer"
                  subtotal_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    cart_id: "CART-SESSION-88402"
                    items:
                      -
                        item_id: "ITEM-9901"
                        sku_code: "MX-GION-500G"
                        product_name: "Kẹo Mè Xửng Giòn O Mạ Hộp 500g"
                        variant_name: "Hộp 500g"
                        thumbnail_url: "https://cdn.omama.vn/products/mx_gion_thumb.jpg"
                        unit_price:
                          currency_code: "VND"
                          units: 345000
                          nanos: 0
                        quantity: 2
                        subtotal:
                          currency_code: "VND"
                          units: 690000
                          nanos: 0
                        in_stock: true
                    total_items: 2
                    subtotal_amount:
                      currency_code: "VND"
                      units: 690000
                      nanos: 0
                empty:
                  summary: "Valid empty result"
                  value:
                    cart_id: "CART-SESSION-88402"
                    items: []
                    total_items: 0
                    subtotal_amount:
                      currency_code: "VND"
                      units: 690000
                      nanos: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
    delete:
      tags:
        - "Cart"
      operationId: "deleteCart"
      summary: "Xóa sạch toàn bộ giỏ hàng"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_05"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "message"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    success: true
                    message: "Giỏ hàng đã được dọn trống."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/cart/items":
    post:
      tags:
        - "Cart"
      operationId: "postCartItems"
      summary: "Thêm sản phẩm vào giỏ hàng"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_05"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "cart_id"
                  - "items"
                  - "total_items"
                  - "subtotal_amount"
                properties:
                  cart_id:
                    type: "string"
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "item_id"
                        - "sku_code"
                        - "product_name"
                        - "variant_name"
                        - "thumbnail_url"
                        - "unit_price"
                        - "quantity"
                        - "subtotal"
                        - "in_stock"
                      properties:
                        item_id:
                          type: "string"
                        sku_code:
                          type: "string"
                        product_name:
                          type: "string"
                        variant_name:
                          type: "string"
                        thumbnail_url:
                          type: "string"
                          format: "uri"
                        unit_price:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        quantity:
                          type: "integer"
                        subtotal:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        in_stock:
                          type: "boolean"
                      additionalProperties: false
                  total_items:
                    type: "integer"
                  subtotal_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    cart_id: "CART-SESSION-88402"
                    items:
                      -
                        item_id: "ITEM-9901"
                        sku_code: "MX-GION-500G"
                        product_name: "Kẹo Mè Xửng Giòn O Mạ Hộp 500g"
                        variant_name: "Hộp 500g"
                        thumbnail_url: "https://cdn.omama.vn/products/mx_gion_thumb.jpg"
                        unit_price:
                          currency_code: "VND"
                          units: 345000
                          nanos: 0
                        quantity: 2
                        subtotal:
                          currency_code: "VND"
                          units: 690000
                          nanos: 0
                        in_stock: true
                    total_items: 2
                    subtotal_amount:
                      currency_code: "VND"
                      units: 690000
                      nanos: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "sku_code"
                - "quantity"
              properties:
                sku_code:
                  type: "string"
                quantity:
                  type: "integer"
              additionalProperties: false
            example:
              sku_code: "MX-GION-500G"
              quantity: 2
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/cart/items/{item_id}":
    put:
      tags:
        - "Cart"
      operationId: "putCartItemsItemId"
      summary: "Cập nhật số lượng của một món trong giỏ"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_05"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "cart_id"
                  - "items"
                  - "total_items"
                  - "subtotal_amount"
                properties:
                  cart_id:
                    type: "string"
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "item_id"
                        - "sku_code"
                        - "product_name"
                        - "variant_name"
                        - "thumbnail_url"
                        - "unit_price"
                        - "quantity"
                        - "subtotal"
                        - "in_stock"
                      properties:
                        item_id:
                          type: "string"
                        sku_code:
                          type: "string"
                        product_name:
                          type: "string"
                        variant_name:
                          type: "string"
                        thumbnail_url:
                          type: "string"
                          format: "uri"
                        unit_price:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        quantity:
                          type: "integer"
                        subtotal:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        in_stock:
                          type: "boolean"
                      additionalProperties: false
                  total_items:
                    type: "integer"
                  subtotal_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    cart_id: "CART-SESSION-88402"
                    items:
                      -
                        item_id: "ITEM-9901"
                        sku_code: "MX-GION-500G"
                        product_name: "Kẹo Mè Xửng Giòn O Mạ Hộp 500g"
                        variant_name: "Hộp 500g"
                        thumbnail_url: "https://cdn.omama.vn/products/mx_gion_thumb.jpg"
                        unit_price:
                          currency_code: "VND"
                          units: 345000
                          nanos: 0
                        quantity: 2
                        subtotal:
                          currency_code: "VND"
                          units: 690000
                          nanos: 0
                        in_stock: true
                    total_items: 2
                    subtotal_amount:
                      currency_code: "VND"
                      units: 690000
                      nanos: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "item_id"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
        -
          $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "quantity"
              properties:
                quantity:
                  type: "integer"
              additionalProperties: false
            example:
              quantity: 3
    delete:
      tags:
        - "Cart"
      operationId: "deleteCartItemsItemId"
      summary: "Xóa một món hàng khỏi giỏ"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_05"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "cart_id"
                  - "items"
                  - "total_items"
                  - "subtotal_amount"
                properties:
                  cart_id:
                    type: "string"
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "item_id"
                        - "sku_code"
                        - "product_name"
                        - "variant_name"
                        - "thumbnail_url"
                        - "unit_price"
                        - "quantity"
                        - "subtotal"
                        - "in_stock"
                      properties:
                        item_id:
                          type: "string"
                        sku_code:
                          type: "string"
                        product_name:
                          type: "string"
                        variant_name:
                          type: "string"
                        thumbnail_url:
                          type: "string"
                          format: "uri"
                        unit_price:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        quantity:
                          type: "integer"
                        subtotal:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        in_stock:
                          type: "boolean"
                      additionalProperties: false
                  total_items:
                    type: "integer"
                  subtotal_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    cart_id: "CART-SESSION-88402"
                    items:
                      -
                        item_id: "ITEM-9901"
                        sku_code: "MX-GION-500G"
                        product_name: "Kẹo Mè Xửng Giòn O Mạ Hộp 500g"
                        variant_name: "Hộp 500g"
                        thumbnail_url: "https://cdn.omama.vn/products/mx_gion_thumb.jpg"
                        unit_price:
                          currency_code: "VND"
                          units: 345000
                          nanos: 0
                        quantity: 2
                        subtotal:
                          currency_code: "VND"
                          units: 690000
                          nanos: 0
                        in_stock: true
                    total_items: 2
                    subtotal_amount:
                      currency_code: "VND"
                      units: 690000
                      nanos: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "item_id"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/categories":
    get:
      tags:
        - "Catalog"
      operationId: "getCategories"
      summary: "Lấy danh sách cây danh mục sản phẩm OCOP"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_03"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "categories"
                properties:
                  categories:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "category_id"
                        - "name"
                        - "slug"
                        - "description"
                        - "image_url"
                        - "parent_id"
                      properties:
                        category_id:
                          type: "string"
                        name:
                          type: "string"
                        slug:
                          type: "string"
                        description:
                          type: "string"
                        image_url:
                          type: "string"
                          format: "uri"
                        parent_id:
                          type:
                            - "string"
                            - "null"
                          description: "parent_id may be null."
                      additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    categories:
                      -
                        category_id: "CAT-ME-XUNG-GION"
                        name: "Mè Xửng Giòn Truyền Thống"
                        slug: "me-xung-gion"
                        description: "Kẹo mè xửng giòn hạt mè vàng ươm, thơm mùi đậu phụng và đường non."
                        image_url: "https://cdn.omama.vn/categories/cat_gion.jpg"
                        parent_id: null
                empty:
                  summary: "Valid empty result"
                  value:
                    categories: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
  "/api/v1/checkout":
    post:
      tags:
        - "Checkout"
      operationId: "postCheckout"
      summary: "Khởi tạo đơn hàng D2C và nhận mã thanh toán VietQR động"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_06"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "201":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "order_id"
                  - "status"
                  - "subtotal_amount"
                  - "discount_amount"
                  - "shipping_fee"
                  - "final_amount"
                  - "vietqr_url"
                  - "payment_expires_at"
                properties:
                  order_id:
                    type: "string"
                  status:
                    type: "string"
                  subtotal_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                  discount_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                  shipping_fee:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                  final_amount:
                    type: "object"
                    required:
                      - "currency_code"
                      - "units"
                      - "nanos"
                    properties:
                      currency_code:
                        type: "string"
                      units:
                        type: "integer"
                      nanos:
                        type: "integer"
                    additionalProperties: false
                  vietqr_url:
                    type: "string"
                    format: "uri"
                  payment_expires_at:
                    type: "string"
                    format: "date-time"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    order_id: "ORD-20261015-0042"
                    status: "PENDING_PAYMENT"
                    subtotal_amount:
                      currency_code: "VND"
                      units: 345000
                      nanos: 0
                    discount_amount:
                      currency_code: "VND"
                      units: 345000
                      nanos: 0
                    shipping_fee:
                      currency_code: "VND"
                      units: 345000
                      nanos: 0
                    final_amount:
                      currency_code: "VND"
                      units: 345000
                      nanos: 0
                    vietqr_url: "https://img.vietqr.io/image/970422-0123456789-compact.png?amount=345000&addInfo=ORD202610150042"
                    payment_expires_at: "2026-10-15T08:45:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "channel"
                - "shipping_address"
                - "payment_method"
                - "items"
              properties:
                channel:
                  type: "string"
                shipping_address:
                  type: "object"
                  required:
                    - "recipient_name"
                    - "phone_number"
                    - "street_address"
                    - "ward"
                    - "province"
                  properties:
                    recipient_name:
                      type: "string"
                    phone_number:
                      type: "string"
                    street_address:
                      type: "string"
                    ward:
                      type: "string"
                    province:
                      type: "string"
                  additionalProperties: false
                payment_method:
                  type: "string"
                items:
                  type: "array"
                  items:
                    type: "object"
                    required:
                      - "sku_code"
                      - "quantity"
                    properties:
                      sku_code:
                        type: "string"
                      quantity:
                        type: "integer"
                    additionalProperties: false
              additionalProperties: false
            example:
              channel: "D2C_WEB"
              shipping_address:
                recipient_name: "Nguyen Van An"
                phone_number: "0905123456"
                street_address: "128 Le Loi"
                ward: "Phuong Thuan Hoa"
                province: "Thanh pho Hue"
              payment_method: "VIETQR"
              items:
                -
                  sku_code: "MX-GION-500G"
                  quantity: 2
      parameters:
        -
          $ref: "#/components/parameters/IdempotencyKey"
  "/api/v1/customer/capabilities":
    get:
      tags:
        - "Customer capabilities"
      operationId: "getCustomerCapabilities"
      summary: "Customer actor/capability projection. Actor context is derived server-side from the authenticated or guest session."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_01"
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        - {}
        -
          bearerAuth: []
        -
          customerSession: []
        -
          guestSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "actor"
                  - "capabilities"
                  - "version"
                properties:
                  actor:
                    type: "string"
                  capabilities:
                    type: "array"
                    items:
                      type: "string"
                  version:
                    type: "integer"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    actor: "GUEST"
                    capabilities:
                      - "CATALOG_VIEW"
                      - "CART_MANAGE"
                      - "CHECKOUT_CREATE"
                      - "GUEST_ORDER_TRACK"
                      - "SUPPORT_CREATE"
                    version: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  "/api/v1/locations/checkout":
    get:
      tags:
        - "Locations"
      operationId: "getLocationsCheckout"
      summary: "Two-level administrative location projection for Checkout: Province/City -> Ward/Commune. No district level is exposed."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_02"
        - "EPIC_06"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "version"
                  - "provinces"
                properties:
                  version:
                    type: "string"
                  provinces:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "provinceCode"
                        - "provinceName"
                        - "wards"
                      properties:
                        provinceCode:
                          type: "string"
                        provinceName:
                          type: "string"
                        wards:
                          type: "array"
                          items:
                            type: "object"
                            required:
                              - "wardCode"
                              - "wardName"
                            properties:
                              wardCode:
                                type: "string"
                              wardName:
                                type: "string"
                            additionalProperties: false
                      additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    version: "2026-10"
                    provinces:
                      -
                        provinceCode: "HUE"
                        provinceName: "Thành phố Huế"
                        wards:
                          -
                            wardCode: "THUAN-HOA"
                            wardName: "Phường Thuận Hòa"
                          -
                            wardCode: "PHU-NHUAN"
                            wardName: "Phường Phú Nhuận"
                          -
                            wardCode: "VY-DA"
                            wardName: "Phường Vỹ Dạ"
                          -
                            wardCode: "KIM-LONG"
                            wardName: "Phường Kim Long"
                      -
                        provinceCode: "DA-NANG"
                        provinceName: "Thành phố Đà Nẵng"
                        wards:
                          -
                            wardCode: "HAI-CHAU"
                            wardName: "Phường Hải Châu"
                          -
                            wardCode: "SON-TRA"
                            wardName: "Phường Sơn Trà"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  "/api/v1/loyalty/points":
    get:
      tags:
        - "Loyalty"
      operationId: "getLoyaltyPoints"
      summary: "Tra cứu điểm tích lũy & hạng thẻ thành viên"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_17"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "customer_id"
                  - "current_points"
                  - "tier"
                  - "points_to_vnd_rate"
                properties:
                  customer_id:
                    type: "string"
                  current_points:
                    type: "integer"
                  tier:
                    type: "string"
                  points_to_vnd_rate:
                    type: "integer"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    customer_id: "CUST-8820"
                    current_points: 450
                    tier: "{{oneOf 'BRONZE' 'SILVER' 'GOLD' 'DIAMOND'}}"
                    points_to_vnd_rate: 100
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  "/api/v1/orders":
    get:
      tags:
        - "Orders"
      operationId: "getOrders"
      summary: "Lấy danh sách lịch sử đơn hàng của khách hàng"
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_08"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          customerSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "orders"
                  - "total"
                  - "page"
                  - "page_size"
                properties:
                  orders:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "order_id"
                        - "status"
                        - "total_items"
                        - "final_amount"
                        - "created_at"
                      properties:
                        order_id:
                          type: "string"
                        status:
                          type: "string"
                        total_items:
                          type: "integer"
                        final_amount:
                          type: "object"
                          required:
                            - "currency_code"
                            - "units"
                            - "nanos"
                          properties:
                            currency_code:
                              type: "string"
                            units:
                              type: "integer"
                            nanos:
                              type: "integer"
                          additionalProperties: false
                        created_at:
                          type: "string"
                          format: "date-time"
[...]
