openapi: "3.1.0"
info:
  title: "Internal Employee Web API - Stable"
  version: "1.0.0"
  description: "Implementation-ready contract for employee sessions, permission-scoped management views, and approved workbench operations. Authorization MUST use effective permissions and data scopes; role names alone are insufficient."
  license:
    name: "Proprietary"
    identifier: "LicenseRef-Proprietary"
servers:
  -
    url: "https://api.omama.vn"
    description: "Production API gateway"
tags:
  -
    name: "Access management"
    description: "Access management operations for the admin web application."
  -
    name: "B2B"
    description: "B2B operations for the admin web application."
  -
    name: "Product management"
    description: "Product management operations for the admin web application."
  -
    name: "Inventory"
    description: "Inventory operations for the admin web application."
  -
    name: "Orders"
    description: "Orders operations for the admin web application."
  -
    name: "Packing"
    description: "Packing operations for the admin web application."
  -
    name: "Payments"
    description: "Payments operations for the admin web application."
  -
    name: "After-sales"
    description: "After-sales operations for the admin web application."
  -
    name: "Session"
    description: "Session operations for the admin web application."
  -
    name: "Shipping"
    description: "Shipping operations for the admin web application."
  -
    name: "Customer support"
    description: "Customer support operations for the admin web application."
paths:
  "/api/v1/admin/access/employees":
    get:
      tags:
        - "Access management"
      operationId: "getAdminAccessEmployees"
      summary: "Employee System Access list for US-ADM-01~03 and permission-aware filters for US-ADM-07. Employee Profile fields remain references owned by EPIC 02."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_22"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "items"
                  - "statusCounts"
                  - "departments"
                  - "roles"
                  - "permissions"
                  - "calculatedAt"
                properties:
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "accountId"
                        - "employeeId"
                        - "employeeCode"
                        - "displayName"
                        - "email"
                        - "department"
                        - "jobTitle"
                        - "loginIdentifier"
                        - "status"
                        - "statusLabel"
                        - "invitationStatus"
                        - "roles"
                        - "effectivePermissionCodes"
                        - "accessState"
                        - "accessStateLabel"
                        - "updatedAt"
                        - "revision"
                      properties:
                        accountId:
                          type: "string"
                        employeeId:
                          type: "string"
                        employeeCode:
                          type: "string"
                        displayName:
                          type: "string"
                        email:
                          type: "string"
                          format: "email"
                        department:
                          type: "string"
                        jobTitle:
                          type: "string"
                        loginIdentifier:
                          type: "string"
                          format: "email"
                        status:
                          type: "string"
                        statusLabel:
                          type: "string"
                        invitationStatus:
                          type: "string"
                        roles:
                          type: "array"
                          items:
                            type: "object"
                            required:
                              - "roleCode"
                              - "roleName"
                              - "status"
                            properties:
                              roleCode:
                                type: "string"
                              roleName:
                                type: "string"
                              status:
                                type: "string"
                            additionalProperties: false
                        effectivePermissionCodes:
                          type: "array"
                          items:
                            type: "string"
                        accessState:
                          type: "string"
                        accessStateLabel:
                          type: "string"
                        updatedAt:
                          type: "string"
                          format: "date-time"
                        revision:
                          type: "integer"
                      additionalProperties: false
                  statusCounts:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "status"
                        - "label"
                        - "count"
                      properties:
                        status:
                          type: "string"
                        label:
                          type: "string"
                        count:
                          type: "integer"
                      additionalProperties: false
                  departments:
                    type: "array"
                    items:
                      type: "string"
                  roles:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "roleCode"
                        - "roleName"
                      properties:
                        roleCode:
                          type: "string"
                        roleName:
                          type: "string"
                      additionalProperties: false
                  permissions:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "permissionCode"
                        - "permissionName"
                      properties:
                        permissionCode:
                          type: "string"
                        permissionName:
                          type: "string"
                      additionalProperties: false
                  calculatedAt:
                    type: "string"
                    format: "date-time"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    items:
                      -
                        accountId: "acc-sys-001"
                        employeeId: "EMP-SYS-001"
                        employeeCode: "NV-0001"
                        displayName: "Nguyễn Đức Minh"
                        email: "minh.nguyen@oma.vn"
                        department: "Công nghệ thông tin"
                        jobTitle: "System Administrator"
                        loginIdentifier: "minh.nguyen@oma.vn"
                        status: "ACTIVE"
                        statusLabel: "Đang hoạt động"
                        invitationStatus: "ACCEPTED"
                        roles:
                          -
                            roleCode: "SYSTEM_ADMIN"
                            roleName: "Quản trị hệ thống"
                            status: "ACTIVE"
                          -
                            roleCode: "ACCESS_REVIEWER"
                            roleName: "Kiểm tra phân quyền"
                            status: "ACTIVE"
                        effectivePermissionCodes:
                          - "EMPLOYEE_ACCOUNT_VIEW"
                          - "ACCESS_REVIEW_VIEW"
                          - "ROLE_VIEW"
                          - "ROLE_ASSIGN"
                          - "PERMISSION_VIEW"
                        accessState: "ENABLED"
                        accessStateLabel: "Được phép truy cập"
                        updatedAt: "2026-10-02T01:50:00.000Z"
                        revision: 6
                      -
                        accountId: "acc-sales-001"
                        employeeId: "EMP-SALES-001"
                        employeeCode: "NV-0018"
                        displayName: "Lê Thị Đoan Trang"
                        email: "trang.le@oma.vn"
                        department: "Kinh doanh B2B"
                        jobTitle: "Sales Manager"
                        loginIdentifier: "trang.le@oma.vn"
                        status: "ACTIVE"
                        statusLabel: "Đang hoạt động"
                        invitationStatus: "ACCEPTED"
                        roles:
                          -
                            roleCode: "SALES_MANAGER"
                            roleName: "Sales Manager"
                            status: "ACTIVE"
                        effectivePermissionCodes:
                          - "B2B_REQUEST_VIEW"
                          - "B2B_QUOTE_DRAFT"
                          - "B2B_QUOTE_ISSUE"
                        accessState: "ENABLED"
                        accessStateLabel: "Được phép truy cập"
                        updatedAt: "2026-10-01T08:30:00.000Z"
                        revision: 3
                      -
                        accountId: "acc-cs-008"
                        employeeId: "EMP-CS-008"
                        employeeCode: "NV-0032"
                        displayName: "Nguyễn Thị Minh Anh"
                        email: "minhanh@oma.vn"
                        department: "Chăm sóc khách hàng"
                        jobTitle: "Chuyên viên Chăm sóc khách hàng"
                        loginIdentifier: "minhanh@oma.vn"
                        status: "PENDING_ACTIVATION"
                        statusLabel: "Chờ kích hoạt"
                        invitationStatus: "DELIVERED"
                        roles:
                          -
                            roleCode: "CUSTOMER_SERVICE"
                            roleName: "Customer Service"
                            status: "ACTIVE"
                        effectivePermissionCodes:
                          - "B2B_REQUEST_VIEW"
                          - "B2B_REQUEST_INFO_REQUEST"
                        accessState: "BLOCKED_ACCOUNT"
                        accessStateLabel: "Chưa kích hoạt"
                        updatedAt: "2026-10-02T00:30:00.000Z"
                        revision: 1
                      -
                        accountId: "acc-b2b-012"
                        employeeId: "EMP-B2B-012"
                        employeeCode: "NV-0041"
                        displayName: "Phạm Quốc Huy"
                        email: "huy.pham@oma.vn"
                        department: "Kinh doanh B2B"
                        jobTitle: "Chuyên viên B2B"
                        loginIdentifier: "huy.pham@oma.vn"
                        status: "LOCKED"
                        statusLabel: "Đã khóa"
                        invitationStatus: "ACCEPTED"
                        roles:
                          -
                            roleCode: "B2B_VIEWER"
                            roleName: "B2B Viewer"
                            status: "ACTIVE"
                        effectivePermissionCodes:
                          - "B2B_REQUEST_VIEW"
                        accessState: "BLOCKED_ACCOUNT"
                        accessStateLabel: "Bị chặn bởi Account"
                        updatedAt: "2026-09-30T09:10:00.000Z"
                        revision: 4
                      -
                        accountId: "acc-hr-002"
                        employeeId: "EMP-HR-002"
                        employeeCode: "NV-0050"
                        displayName: "Trần Thị Thanh Hà"
                        email: "ha.tran@oma.vn"
                        department: "Nhân sự"
                        jobTitle: "HR Manager"
                        loginIdentifier: "ha.tran@oma.vn"
                        status: "INVITED"
                        statusLabel: "Đã mời"
                        invitationStatus: "PENDING"
                        roles: []
                        effectivePermissionCodes: []
                        accessState: "BLOCKED_ACCOUNT"
                        accessStateLabel: "Chưa kích hoạt"
                        updatedAt: "2026-10-02T02:00:00.000Z"
                        revision: 1
                      -
                        accountId: "acc-hr-003"
                        employeeId: "EMP-HR-003"
                        employeeCode: "NV-0051"
                        displayName: "Võ Minh Châu"
                        email: "chau.vo@oma.vn"
                        department: "Nhân sự"
                        jobTitle: "Chuyên viên nhân sự"
                        loginIdentifier: "chau.vo@oma.vn"
                        status: "ACTIVE"
                        statusLabel: "Đang hoạt động"
                        invitationStatus: "ACCEPTED"
                        roles: []
                        effectivePermissionCodes: []
                        accessState: "NO_ACTIVE_ROLE"
                        accessStateLabel: "Không có Role hiệu lực"
                        updatedAt: "2026-10-01T03:20:00.000Z"
                        revision: 2
                    statusCounts:
                      -
                        status: "ALL"
                        label: "Tất cả"
                        count: 6
                      -
                        status: "ACTIVE"
                        label: "Hoạt động"
                        count: 3
                      -
                        status: "INVITED"
                        label: "Đã mời"
                        count: 1
                      -
                        status: "PENDING_ACTIVATION"
                        label: "Chờ kích hoạt"
                        count: 1
                      -
                        status: "LOCKED"
                        label: "Đã khóa"
                        count: 1
                      -
                        status: "DISABLED"
                        label: "Ngừng truy cập"
                        count: 0
                    departments:
                      - "Công nghệ thông tin"
                      - "Kinh doanh B2B"
                      - "Chăm sóc khách hàng"
                      - "Nhân sự"
                    roles:
                      -
                        roleCode: "SYSTEM_ADMIN"
                        roleName: "Quản trị hệ thống"
                      -
                        roleCode: "ACCESS_REVIEWER"
                        roleName: "Kiểm tra phân quyền"
                      -
                        roleCode: "SALES_MANAGER"
                        roleName: "Sales Manager"
                      -
                        roleCode: "CUSTOMER_SERVICE"
                        roleName: "Customer Service"
                      -
                        roleCode: "B2B_VIEWER"
                        roleName: "B2B Viewer"
                    permissions:
                      -
                        permissionCode: "EMPLOYEE_ACCOUNT_VIEW"
                        permissionName: "Xem tài khoản nhân viên"
                      -
                        permissionCode: "ACCESS_REVIEW_VIEW"
                        permissionName: "Xem quyền hiệu lực"
                      -
                        permissionCode: "ROLE_ASSIGN"
                        permissionName: "Gán Role"
                      -
                        permissionCode: "B2B_REQUEST_VIEW"
                        permissionName: "Xem yêu cầu B2B"
                      -
                        permissionCode: "B2B_QUOTE_ISSUE"
                        permissionName: "Phát hành báo giá B2B"
                    calculatedAt: "2026-10-02T02:20:00.000Z"
                empty:
                  summary: "Valid empty result"
                  value:
                    items: []
                    statusCounts: []
                    departments: []
                    roles: []
                    permissions: []
                    calculatedAt: "2026-10-02T02:20:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
  "/api/v1/admin/access/employees/{employeeId}":
    get:
      tags:
        - "Access management"
      operationId: "getAdminAccessEmployeesEmployeeId"
      summary: "Current effective-access explanation for US-ADM-07. It keeps duplicate permission sources, distinguishes Account access from configured assignments and never returns readable credentials."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_22"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "accountId"
                  - "employeeId"
                  - "employeeCode"
                  - "displayName"
                  - "email"
                  - "department"
                  - "jobTitle"
                  - "loginIdentifier"
                  - "status"
                  - "statusLabel"
                  - "invitationStatus"
                  - "roles"
                  - "effectivePermissionCodes"
                  - "accessState"
                  - "accessStateLabel"
                  - "updatedAt"
                  - "revision"
                  - "profileReference"
                  - "identity"
                  - "lock"
                  - "roleAssignments"
                  - "effectivePermissions"
                  - "calculatedAt"
                properties:
                  accountId:
                    type: "string"
                  employeeId:
                    type: "string"
                  employeeCode:
                    type: "string"
                  displayName:
                    type: "string"
                  email:
                    type: "string"
                    format: "email"
                  department:
                    type: "string"
                  jobTitle:
                    type: "string"
                  loginIdentifier:
                    type: "string"
                    format: "email"
                  status:
                    type: "string"
                  statusLabel:
                    type: "string"
                  invitationStatus:
                    type: "string"
                  roles:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "roleCode"
                        - "roleName"
                        - "status"
                      properties:
                        roleCode:
                          type: "string"
                        roleName:
                          type: "string"
                        status:
                          type: "string"
                      additionalProperties: false
                  effectivePermissionCodes:
                    type: "array"
                    items:
                      type: "string"
                  accessState:
                    type: "string"
                  accessStateLabel:
                    type: "string"
                  updatedAt:
                    type: "string"
                    format: "date-time"
                  revision:
                    type: "integer"
                  profileReference:
                    type: "object"
                    required:
                      - "employeeId"
                      - "employeeCode"
                    properties:
                      employeeId:
                        type: "string"
                      employeeCode:
                        type: "string"
                    additionalProperties: false
                  identity:
                    type: "object"
                    required:
                      - "emailVerified"
                      - "lastAuthenticatedAt"
                    properties:
                      emailVerified:
                        type: "boolean"
                      lastAuthenticatedAt:
                        type: "string"
                        format: "date-time"
                    additionalProperties: false
                  lock:
                    type:
                      - "string"
                      - "null"
                    description: "lock may be null."
                  roleAssignments:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "assignmentId"
                        - "roleCode"
                        - "roleName"
                        - "roleStatus"
                        - "assignmentStatus"
                        - "scopeLabel"
                        - "effectiveFrom"
                        - "effectiveUntil"
                        - "assignedByLabel"
                      properties:
                        assignmentId:
                          type: "string"
                        roleCode:
                          type: "string"
                        roleName:
                          type: "string"
                        roleStatus:
                          type: "string"
                        assignmentStatus:
                          type: "string"
                        scopeLabel:
                          type: "string"
                        effectiveFrom:
                          type: "string"
                          format: "date-time"
                        effectiveUntil:
                          type:
                            - "string"
                            - "null"
                        assignedByLabel:
                          type: "string"
                      additionalProperties: false
                  effectivePermissions:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "permissionCode"
                        - "permissionName"
                        - "action"
                        - "resource"
                        - "scopeLabels"
                        - "sources"
                      properties:
                        permissionCode:
                          type: "string"
                        permissionName:
                          type: "string"
                        action:
                          type: "string"
                        resource:
                          type: "string"
                        scopeLabels:
                          type: "array"
                          items:
                            type: "string"
                        sources:
                          type: "array"
                          items:
                            type: "object"
                            required:
                              - "roleCode"
                              - "roleName"
                              - "assignmentId"
                            properties:
                              roleCode:
                                type: "string"
                              roleName:
                                type: "string"
                              assignmentId:
                                type: "string"
                            additionalProperties: false
                      additionalProperties: false
                  calculatedAt:
                    type: "string"
                    format: "date-time"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    accountId: "acc-sys-001"
                    employeeId: "{{urlParam 'employeeId'}}"
                    employeeCode: "NV-0001"
                    displayName: "Nguyễn Đức Minh"
                    email: "minh.nguyen@oma.vn"
                    department: "Công nghệ thông tin"
                    jobTitle: "System Administrator"
                    loginIdentifier: "minh.nguyen@oma.vn"
                    status: "ACTIVE"
                    statusLabel: "Đang hoạt động"
                    invitationStatus: "ACCEPTED"
                    roles:
                      -
                        roleCode: "SYSTEM_ADMIN"
                        roleName: "Quản trị hệ thống"
                        status: "ACTIVE"
                      -
                        roleCode: "ACCESS_REVIEWER"
                        roleName: "Kiểm tra phân quyền"
                        status: "ACTIVE"
                    effectivePermissionCodes:
                      - "EMPLOYEE_ACCOUNT_VIEW"
                      - "ACCESS_REVIEW_VIEW"
                      - "ROLE_VIEW"
                      - "ROLE_ASSIGN"
                      - "PERMISSION_VIEW"
                    accessState: "ENABLED"
                    accessStateLabel: "Được phép truy cập"
                    updatedAt: "2026-10-02T01:50:00.000Z"
                    revision: 6
                    profileReference:
                      employeeId: "{{urlParam 'employeeId'}}"
                      employeeCode: "NV-0001"
                    identity:
                      emailVerified: true
                      lastAuthenticatedAt: "2026-10-02T01:40:00.000Z"
                    lock: null
                    roleAssignments:
                      -
                        assignmentId: "era-sys-001"
                        roleCode: "SYSTEM_ADMIN"
                        roleName: "Quản trị hệ thống"
                        roleStatus: "ACTIVE"
                        assignmentStatus: "ACTIVE"
                        scopeLabel: "Toàn hệ thống"
                        effectiveFrom: "2026-01-01T00:00:00.000Z"
                        effectiveUntil: null
                        assignedByLabel: "Hội đồng quản trị truy cập"
                      -
                        assignmentId: "era-review-001"
                        roleCode: "ACCESS_REVIEWER"
                        roleName: "Kiểm tra phân quyền"
                        roleStatus: "ACTIVE"
                        assignmentStatus: "ACTIVE"
                        scopeLabel: "Toàn bộ nhân viên"
                        effectiveFrom: "2026-06-01T00:00:00.000Z"
                        effectiveUntil: "2026-12-31T16:59:59.000Z"
                        assignedByLabel: "Trần Quốc Nam · Security Lead"
                    effectivePermissions:
                      -
                        permissionCode: "EMPLOYEE_ACCOUNT_VIEW"
                        permissionName: "Xem tài khoản nhân viên"
                        action: "VIEW"
                        resource: "EMPLOYEE_ACCOUNT"
                        scopeLabels:
                          - "ALL"
                        sources:
                          -
                            roleCode: "SYSTEM_ADMIN"
                            roleName: "Quản trị hệ thống"
                            assignmentId: "era-sys-001"
                          -
                            roleCode: "ACCESS_REVIEWER"
                            roleName: "Kiểm tra phân quyền"
                            assignmentId: "era-review-001"
                      -
                        permissionCode: "ACCESS_REVIEW_VIEW"
                        permissionName: "Xem quyền hiệu lực"
                        action: "VIEW"
                        resource: "ACCESS_REVIEW"
                        scopeLabels:
                          - "ALL"
                        sources:
                          -
                            roleCode: "SYSTEM_ADMIN"
                            roleName: "Quản trị hệ thống"
                            assignmentId: "era-sys-001"
                          -
                            roleCode: "ACCESS_REVIEWER"
                            roleName: "Kiểm tra phân quyền"
                            assignmentId: "era-review-001"
                      -
                        permissionCode: "ROLE_VIEW"
                        permissionName: "Xem Role"
                        action: "VIEW"
                        resource: "ROLE"
                        scopeLabels:
                          - "ALL"
                        sources:
                          -
                            roleCode: "SYSTEM_ADMIN"
                            roleName: "Quản trị hệ thống"
                            assignmentId: "era-sys-001"
                      -
                        permissionCode: "ROLE_ASSIGN"
                        permissionName: "Gán Role"
                        action: "ASSIGN"
                        resource: "EMPLOYEE_ROLE"
                        scopeLabels:
                          - "ALL"
                        sources:
                          -
                            roleCode: "SYSTEM_ADMIN"
                            roleName: "Quản trị hệ thống"
                            assignmentId: "era-sys-001"
                      -
                        permissionCode: "PERMISSION_VIEW"
                        permissionName: "Xem Permission"
                        action: "VIEW"
                        resource: "PERMISSION"
                        scopeLabels:
                          - "ALL"
                        sources:
                          -
                            roleCode: "SYSTEM_ADMIN"
                            roleName: "Quản trị hệ thống"
                            assignmentId: "era-sys-001"
                    calculatedAt: "2026-10-02T02:20:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "employeeId"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
  "/api/v1/admin/access/permissions":
    get:
      tags:
        - "Access management"
      operationId: "getAdminAccessPermissions"
      summary: "Read-only Permission registry for US-ADM-05 and FR-ADM-15~18. It exposes usage counts but never grants access by itself."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_22"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "items"
                  - "statusCounts"
                  - "resources"
                  - "calculatedAt"
                properties:
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "permissionCode"
                        - "permissionName"
                        - "description"
                        - "action"
                        - "resource"
                        - "scopeLabel"
                        - "status"
                        - "statusLabel"
                        - "kind"
                        - "roleCount"
                        - "employeeCount"
                        - "updatedAt"
                      properties:
                        permissionCode:
                          type: "string"
                        permissionName:
                          type: "string"
                        description:
                          type: "string"
                        action:
                          type: "string"
                        resource:
                          type: "string"
                        scopeLabel:
                          type: "string"
                        status:
                          type: "string"
                        statusLabel:
                          type: "string"
                        kind:
                          type: "string"
                        roleCount:
                          type: "integer"
                        employeeCount:
                          type: "integer"
                        updatedAt:
                          type: "string"
                          format: "date-time"
                      additionalProperties: false
                  statusCounts:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "status"
                        - "label"
                        - "count"
                      properties:
                        status:
                          type: "string"
                        label:
                          type: "string"
                        count:
                          type: "integer"
                      additionalProperties: false
                  resources:
                    type: "array"
                    items:
                      type: "string"
                  calculatedAt:
                    type: "string"
                    format: "date-time"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    items:
                      -
                        permissionCode: "EMPLOYEE_ACCOUNT_VIEW"
                        permissionName: "Xem tài khoản nhân viên"
                        description: "Xem projection System Access của tài khoản nội bộ."
                        action: "VIEW"
                        resource: "EMPLOYEE_ACCOUNT"
                        scopeLabel: "ALL"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 2
                        employeeCount: 3
                        updatedAt: "2026-10-02T01:40:00.000Z"
                      -
                        permissionCode: "ROLE_VIEW"
                        permissionName: "Xem Role"
                        description: "Xem danh mục, cấu hình và mức ảnh hưởng của Role."
                        action: "VIEW"
                        resource: "ROLE"
                        scopeLabel: "ALL"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 2
                        employeeCount: 2
                        updatedAt: "2026-10-02T01:42:00.000Z"
                      -
                        permissionCode: "ROLE_ASSIGN"
                        permissionName: "Gán Role"
                        description: "Gán hoặc thu hồi Role theo policy được phê duyệt."
                        action: "ASSIGN"
                        resource: "EMPLOYEE_ROLE"
                        scopeLabel: "ALL"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 1
                        employeeCount: 1
                        updatedAt: "2026-10-02T01:43:00.000Z"
                      -
                        permissionCode: "PERMISSION_VIEW"
                        permissionName: "Xem Permission"
                        description: "Xem registry Permission và nơi đang sử dụng."
                        action: "VIEW"
                        resource: "PERMISSION"
                        scopeLabel: "ALL"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 2
                        employeeCount: 2
                        updatedAt: "2026-10-02T01:44:00.000Z"
                      -
                        permissionCode: "ACCESS_REVIEW_VIEW"
                        permissionName: "Xem quyền hiệu lực"
                        description: "Giải thích quyền hiệu lực của một Employee theo nguồn Role Assignment."
                        action: "VIEW"
                        resource: "ACCESS_REVIEW"
                        scopeLabel: "ALL"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 2
                        employeeCount: 2
                        updatedAt: "2026-10-02T01:45:00.000Z"
                      -
                        permissionCode: "B2B_REQUEST_VIEW"
                        permissionName: "Xem yêu cầu B2B"
                        description: "Xem hàng đợi yêu cầu B2B trong scope."
                        action: "VIEW"
                        resource: "B2B_REQUEST"
                        scopeLabel: "ASSIGNED_ONLY hoặc ALL"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 3
                        employeeCount: 9
                        updatedAt: "2026-10-01T08:00:00.000Z"
                      -
                        permissionCode: "B2B_QUOTE_ISSUE"
                        permissionName: "Phát hành báo giá B2B"
                        description: "Phát hành đúng Quote Version đang ở trạng thái cho phép."
                        action: "ISSUE"
                        resource: "B2B_QUOTE"
                        scopeLabel: "ASSIGNED_ONLY"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        roleCount: 1
                        employeeCount: 2
                        updatedAt: "2026-10-01T08:05:00.000Z"
                    statusCounts:
                      -
                        status: "ALL"
                        label: "Tất cả"
                        count: 7
                      -
                        status: "ACTIVE"
                        label: "Hoạt động"
                        count: 7
                      -
                        status: "DEPRECATED"
                        label: "Sắp ngừng"
                        count: 0
                      -
                        status: "ARCHIVED"
                        label: "Đã lưu trữ"
                        count: 0
                    resources:
                      - "EMPLOYEE_ACCOUNT"
                      - "ROLE"
                      - "EMPLOYEE_ROLE"
                      - "PERMISSION"
                      - "ACCESS_REVIEW"
                      - "B2B_REQUEST"
                      - "B2B_QUOTE"
                    calculatedAt: "2026-10-02T02:20:00.000Z"
                empty:
                  summary: "Valid empty result"
                  value:
                    items: []
                    statusCounts: []
                    resources: []
                    calculatedAt: "2026-10-02T02:20:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
  "/api/v1/admin/access/permissions/{permissionCode}":
    get:
      tags:
        - "Access management"
      operationId: "getAdminAccessPermissionsPermissionCode"
      summary: "Permission definition and usage projection. System-enforced codes are marked protected and are not mutated by this route."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_22"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "permissionCode"
                  - "permissionName"
                  - "description"
                  - "action"
                  - "resource"
                  - "scopeLabel"
                  - "status"
                  - "statusLabel"
                  - "kind"
                  - "roleCount"
                  - "employeeCount"
                  - "updatedAt"
                  - "protectedCode"
                  - "usedByModules"
                  - "rolesUsing"
                properties:
                  permissionCode:
                    type: "string"
                  permissionName:
                    type: "string"
                  description:
                    type: "string"
                  action:
                    type: "string"
                  resource:
                    type: "string"
                  scopeLabel:
                    type: "string"
                  status:
                    type: "string"
                  statusLabel:
                    type: "string"
                  kind:
                    type: "string"
                  roleCount:
                    type: "integer"
                  employeeCount:
                    type: "integer"
                  updatedAt:
                    type: "string"
                    format: "date-time"
                  protectedCode:
                    type: "boolean"
                  usedByModules:
                    type: "array"
                    items:
                      type: "string"
                  rolesUsing:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "roleCode"
                        - "roleName"
                        - "status"
                        - "employeeCount"
                      properties:
                        roleCode:
                          type: "string"
                        roleName:
                          type: "string"
                        status:
                          type: "string"
                        employeeCount:
                          type: "integer"
                      additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    permissionCode: "{{urlParam 'permissionCode'}}"
                    permissionName: "Xem Permission"
                    description: "Xem registry Permission và nơi đang sử dụng."
                    action: "VIEW"
                    resource: "PERMISSION"
                    scopeLabel: "ALL"
                    status: "ACTIVE"
                    statusLabel: "Hoạt động"
                    kind: "SYSTEM"
                    roleCount: 2
                    employeeCount: 2
                    updatedAt: "2026-10-02T01:44:00.000Z"
                    protectedCode: true
                    usedByModules:
                      - "Web Admin BFF permission gate"
                      - "Administration navigation"
                      - "Access Review projection"
                    rolesUsing:
                      -
                        roleCode: "SYSTEM_ADMIN"
                        roleName: "Quản trị hệ thống"
                        status: "ACTIVE"
                        employeeCount: 1
                      -
                        roleCode: "ACCESS_REVIEWER"
                        roleName: "Kiểm tra phân quyền"
                        status: "ACTIVE"
                        employeeCount: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "permissionCode"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
  "/api/v1/admin/access/roles":
    get:
      tags:
        - "Access management"
      operationId: "getAdminAccessRoles"
      summary: "Read-only Role catalog for US-ADM-04 and FR-ADM-12~14. Mutation is intentionally excluded until protection and approval policies are decided."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_22"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "items"
                  - "statusCounts"
                  - "calculatedAt"
                properties:
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "roleCode"
                        - "roleName"
                        - "description"
                        - "scopeLabel"
                        - "status"
                        - "statusLabel"
                        - "kind"
                        - "privileged"
                        - "employeeCount"
                        - "permissionCount"
                        - "updatedAt"
                        - "revision"
                      properties:
                        roleCode:
                          type: "string"
                        roleName:
                          type: "string"
                        description:
                          type: "string"
                        scopeLabel:
                          type: "string"
                        status:
                          type: "string"
                        statusLabel:
                          type: "string"
                        kind:
                          type: "string"
                        privileged:
                          type: "boolean"
                        employeeCount:
                          type: "integer"
                        permissionCount:
                          type: "integer"
                        updatedAt:
                          type: "string"
                          format: "date-time"
                        revision:
                          type: "integer"
                      additionalProperties: false
                  statusCounts:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "status"
                        - "label"
                        - "count"
                      properties:
                        status:
                          type: "string"
                        label:
                          type: "string"
                        count:
                          type: "integer"
                      additionalProperties: false
                  calculatedAt:
                    type: "string"
                    format: "date-time"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    items:
                      -
                        roleCode: "SYSTEM_ADMIN"
                        roleName: "Quản trị hệ thống"
                        description: "Quản trị cấu hình truy cập nội bộ và rà soát quyền hiệu lực."
                        scopeLabel: "Toàn hệ thống"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        privileged: true
                        employeeCount: 1
                        permissionCount: 10
                        updatedAt: "2026-10-02T01:50:00.000Z"
                        revision: 6
                      -
                        roleCode: "SALES_MANAGER"
                        roleName: "Sales Manager"
                        description: "Xử lý yêu cầu và báo giá B2B theo phạm vi được giao."
                        scopeLabel: "Kinh doanh B2B"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        privileged: false
                        employeeCount: 2
                        permissionCount: 8
                        updatedAt: "2026-10-01T08:30:00.000Z"
                        revision: 3
                      -
                        roleCode: "CUSTOMER_SERVICE"
                        roleName: "Customer Service"
                        description: "Tiếp nhận và hỗ trợ thông tin cho yêu cầu của khách hàng."
                        scopeLabel: "Chăm sóc khách hàng"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "SYSTEM"
                        privileged: false
                        employeeCount: 4
                        permissionCount: 4
                        updatedAt: "2026-09-28T03:10:00.000Z"
                        revision: 2
                      -
                        roleCode: "B2B_VIEWER"
                        roleName: "B2B Viewer"
                        description: "Chỉ xem hàng đợi yêu cầu B2B trong phạm vi được cấp."
                        scopeLabel: "Yêu cầu được phân công"
                        status: "ACTIVE"
                        statusLabel: "Hoạt động"
                        kind: "CUSTOM"
                        privileged: false
                        employeeCount: 3
                        permissionCount: 1
                        updatedAt: "2026-09-25T02:00:00.000Z"
                        revision: 2
                      -
                        roleCode: "LEGACY_ORDER_OPERATOR"
                        roleName: "Legacy Order Operator"
                        description: "Role cũ được giữ để bảo toàn lịch sử gán quyền."
                        scopeLabel: "Đơn hàng cũ"
                        status: "INACTIVE"
                        statusLabel: "Ngừng hoạt động"
                        kind: "CUSTOM"
                        privileged: false
                        employeeCount: 0
                        permissionCount: 2
                        updatedAt: "2026-08-20T04:00:00.000Z"
                        revision: 5
                      -
                        roleCode: "OLD_ACCESS_REVIEWER"
                        roleName: "Old Access Reviewer"
                        description: "Bản ghi lưu trữ phục vụ audit lịch sử."
                        scopeLabel: "Toàn hệ thống"
                        status: "ARCHIVED"
                        statusLabel: "Đã lưu trữ"
                        kind: "SYSTEM"
                        privileged: true
                        employeeCount: 0
                        permissionCount: 1
                        updatedAt: "2026-07-01T00:00:00.000Z"
                        revision: 7
                    statusCounts:
                      -
                        status: "ALL"
                        label: "Tất cả"
                        count: 6
                      -
                        status: "ACTIVE"
                        label: "Hoạt động"
                        count: 4
                      -
                        status: "INACTIVE"
                        label: "Ngừng hoạt động"
                        count: 1
                      -
                        status: "ARCHIVED"
                        label: "Đã lưu trữ"
                        count: 1
                    calculatedAt: "2026-10-02T02:20:00.000Z"
                empty:
                  summary: "Valid empty result"
                  value:
                    items: []
                    statusCounts: []
                    calculatedAt: "2026-10-02T02:20:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
  "/api/v1/admin/access/roles/{roleCode}":
    get:
      tags:
        - "Access management"
      operationId: "getAdminAccessRolesRoleCode"
      summary: "Role detail projection with permission membership and change-impact counts. This fixture is read-only and deliberately contains no mutation policy."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_22"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "roleCode"
                  - "roleName"
                  - "description"
                  - "scopeLabel"
                  - "status"
                  - "statusLabel"
                  - "kind"
                  - "privileged"
                  - "employeeCount"
                  - "permissionCount"
                  - "updatedAt"
                  - "revision"
                  - "protectedRole"
                  - "permissions"
                  - "impact"
                properties:
                  roleCode:
                    type: "string"
                  roleName:
                    type: "string"
                  description:
                    type: "string"
                  scopeLabel:
                    type: "string"
                  status:
                    type: "string"
                  statusLabel:
                    type: "string"
                  kind:
                    type: "string"
                  privileged:
                    type: "boolean"
                  employeeCount:
                    type: "integer"
                  permissionCount:
                    type: "integer"
                  updatedAt:
                    type: "string"
                    format: "date-time"
                  revision:
                    type: "integer"
                  protectedRole:
                    type: "boolean"
                  permissions:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "permissionCode"
                        - "permissionName"
                        - "action"
                        - "resource"
                        - "scopeLabel"
                      properties:
                        permissionCode:
                          type: "string"
                        permissionName:
                          type: "string"
                        action:
                          type: "string"
                        resource:
                          type: "string"
                        scopeLabel:
                          type: "string"
                      additionalProperties: false
                  impact:
                    type: "object"
                    required:
                      - "activeEmployees"
                      - "scheduledAssignments"
                      - "lockedAccounts"
                    properties:
                      activeEmployees:
                        type: "integer"
                      scheduledAssignments:
                        type: "integer"
                      lockedAccounts:
                        type: "integer"
                    additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    roleCode: "{{urlParam 'roleCode'}}"
                    roleName: "Quản trị hệ thống"
                    description: "Quản trị cấu hình truy cập nội bộ và rà soát quyền hiệu lực."
                    scopeLabel: "Toàn hệ thống"
                    status: "ACTIVE"
                    statusLabel: "Hoạt động"
                    kind: "SYSTEM"
                    privileged: true
                    employeeCount: 1
                    permissionCount: 5
                    updatedAt: "2026-10-02T01:50:00.000Z"
                    revision: 6
                    protectedRole: true
                    permissions:
                      -
                        permissionCode: "EMPLOYEE_ACCOUNT_VIEW"
                        permissionName: "Xem tài khoản nhân viên"
                        action: "VIEW"
                        resource: "EMPLOYEE_ACCOUNT"
                        scopeLabel: "ALL"
                      -
                        permissionCode: "ROLE_VIEW"
                        permissionName: "Xem Role"
                        action: "VIEW"
                        resource: "ROLE"
                        scopeLabel: "ALL"
                      -
                        permissionCode: "ROLE_ASSIGN"
                        permissionName: "Gán Role"
                        action: "ASSIGN"
                        resource: "EMPLOYEE_ROLE"
                        scopeLabel: "ALL"
                      -
                        permissionCode: "PERMISSION_VIEW"
                        permissionName: "Xem Permission"
                        action: "VIEW"
                        resource: "PERMISSION"
                        scopeLabel: "ALL"
                      -
                        permissionCode: "ACCESS_REVIEW_VIEW"
                        permissionName: "Xem quyền hiệu lực"
                        action: "VIEW"
                        resource: "ACCESS_REVIEW"
                        scopeLabel: "ALL"
                    impact:
                      activeEmployees: 1
                      scheduledAssignments: 0
                      lockedAccounts: 0
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "roleCode"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
  "/api/v1/admin/b2b/quote-requests":
    get:
      tags:
        - "B2B"
      operationId: "getAdminB2bQuoteRequests"
      summary: "Permission-scoped Sales queue for ADM-034. Search/filter query semantics remain backend-owned."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "items"
                  - "statusCounts"
                  - "owners"
                  - "updatedAt"
                properties:
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "requestId"
                        - "requestNumber"
                        - "companyName"
                        - "taxCode"
                        - "submittedAt"
                        - "lineCount"
                        - "totalQuantity"
                        - "status"
                        - "statusLabel"
                        - "slaState"
                        - "slaLabel"
                        - "owner"
                        - "currentQuoteVersion"
                        - "quoteExpiresAt"
                        - "estimatedValueVnd"
                      properties:
                        requestId:
                          type: "string"
                        requestNumber:
                          type: "string"
                        companyName:
                          type: "string"
                        taxCode:
                          type: "string"
                        submittedAt:
                          type: "string"
                          format: "date-time"
                        lineCount:
                          type: "integer"
                        totalQuantity:
                          type: "integer"
                        status:
                          type: "string"
                        statusLabel:
                          type: "string"
                        slaState:
                          type: "string"
                        slaLabel:
                          type: "string"
                        owner:
                          type:
                            - "string"
                            - "null"
                            - "object"
                        currentQuoteVersion:
                          type:
                            - "string"
                            - "null"
                            - "integer"
                        quoteExpiresAt:
                          type:
                            - "string"
                            - "null"
                        estimatedValueVnd:
                          type: "integer"
                      additionalProperties: false
                  statusCounts:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "status"
                        - "label"
                        - "count"
                      properties:
                        status:
                          type: "string"
                        label:
                          type: "string"
                        count:
                          type: "integer"
                      additionalProperties: false
                  owners:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "employeeId"
                        - "displayName"
                      properties:
                        employeeId:
                          type: "string"
                        displayName:
                          type: "string"
                      additionalProperties: false
                  updatedAt:
                    type: "string"
                    format: "date-time"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    items:
                      -
                        requestId: "b2br-2026-fpt-09"
                        requestNumber: "B2BR-2026-FPT-09"
                        companyName: "Tập đoàn FPT - Chi nhánh Miền Trung"
                        taxCode: "0101248141"
                        submittedAt: "2026-10-02T01:15:00.000Z"
                        lineCount: 3
                        totalQuantity: 200
                        status: "REQUESTED"
                        statusLabel: "Yêu cầu mới"
                        slaState: "AT_RISK"
                        slaLabel: "Còn 38 phút"
                        owner: null
                        currentQuoteVersion: null
                        quoteExpiresAt: null
                        estimatedValueVnd: 152000000
                      -
                        requestId: "b2br-2026-vp-03"
                        requestNumber: "B2BR-2026-VP-03"
                        companyName: "VPBank Hội sở Miền Trung"
                        taxCode: "0100233583"
                        submittedAt: "2026-10-01T06:20:00.000Z"
                        lineCount: 2
                        totalQuantity: 350
                        status: "NEEDS_INFO"
                        statusLabel: "Chờ khách bổ sung"
                        slaState: "ON_TRACK"
                        slaLabel: "Tạm dừng SLA"
                        owner:
                          employeeId: "EMP-SALES-001"
                          displayName: "Lê Thị Đoan Trang"
                        currentQuoteVersion: null
                        quoteExpiresAt: null
                        estimatedValueVnd: 218000000
                      -
                        requestId: "b2br-2026-vna-11"
                        requestNumber: "B2BR-2026-VNA-11"
                        companyName: "Vietnam Airlines - Văn phòng Huế"
                        taxCode: "0100107518"
                        submittedAt: "2026-09-30T03:40:00.000Z"
                        lineCount: 4
                        totalQuantity: 500
                        status: "DRAFT"
                        statusLabel: "Đang lập báo giá"
                        slaState: "OVERDUE"
                        slaLabel: "Quá hạn 3 giờ"
                        owner:
                          employeeId: "EMP-SALES-001"
                          displayName: "Lê Thị Đoan Trang"
                        currentQuoteVersion: 2
                        quoteExpiresAt: "2026-10-20T16:59:59.000Z"
                        estimatedValueVnd: 385000000
                      -
                        requestId: "b2br-2026-hud-04"
                        requestNumber: "B2BR-2026-HUD-04"
                        companyName: "Công ty CP Du lịch Huế"
                        taxCode: "3300100888"
                        submittedAt: "2026-09-28T08:10:00.000Z"
                        lineCount: 2
                        totalQuantity: 120
                        status: "SENT"
                        statusLabel: "Đã phát hành"
                        slaState: "ON_TRACK"
                        slaLabel: "Chờ khách duyệt"
                        owner:
                          employeeId: "EMP-SALES-002"
                          displayName: "Trần Minh Khang"
                        currentQuoteVersion: 1
                        quoteExpiresAt: "2026-10-12T16:59:59.000Z"
                        estimatedValueVnd: 89000000
                      -
                        requestId: "b2br-2026-vt-06"
                        requestNumber: "B2BR-2026-VT-06"
                        companyName: "Viettel Thừa Thiên Huế"
                        taxCode: "0100109106"
                        submittedAt: "2026-09-25T02:00:00.000Z"
                        lineCount: 5
                        totalQuantity: 800
                        status: "ACCEPTED"
                        statusLabel: "Đã chấp thuận"
                        slaState: "ON_TRACK"
                        slaLabel: "Đã hoàn tất"
                        owner:
                          employeeId: "EMP-SALES-002"
                          displayName: "Trần Minh Khang"
                        currentQuoteVersion: 3
                        quoteExpiresAt: "2026-10-05T16:59:59.000Z"
                        estimatedValueVnd: 612000000
                      -
                        requestId: "b2br-2026-demo-02"
                        requestNumber: "B2BR-2026-DEMO-02"
                        companyName: "Công ty TNHH Quà Việt"
                        taxCode: "3301620012"
                        submittedAt: "2026-09-22T09:00:00.000Z"
                        lineCount: 1
                        totalQuantity: 30
                        status: "REJECTED"
                        statusLabel: "Đã từ chối"
                        slaState: "ON_TRACK"
                        slaLabel: "Đã đóng"
                        owner:
                          employeeId: "EMP-SALES-001"
                          displayName: "Lê Thị Đoan Trang"
                        currentQuoteVersion: null
                        quoteExpiresAt: null
                        estimatedValueVnd: 18000000
                    statusCounts:
                      -
                        status: "ALL"
                        label: "Tất cả"
                        count: 6
                      -
                        status: "REQUESTED"
                        label: "Yêu cầu mới"
                        count: 1
                      -
                        status: "NEEDS_INFO"
                        label: "Chờ bổ sung"
                        count: 1
                      -
                        status: "DRAFT"
                        label: "Bản nháp"
                        count: 1
                      -
                        status: "SENT"
                        label: "Đã phát hành"
                        count: 1
                      -
                        status: "ACCEPTED"
                        label: "Đã chấp thuận"
                        count: 1
                      -
                        status: "REJECTED"
                        label: "Đã từ chối"
                        count: 1
                    owners:
                      -
                        employeeId: "EMP-SALES-001"
                        displayName: "Lê Thị Đoan Trang"
                      -
                        employeeId: "EMP-SALES-002"
                        displayName: "Trần Minh Khang"
                    updatedAt: "2026-10-02T02:30:00.000Z"
                empty:
                  summary: "Valid empty result"
                  value:
                    items: []
                    statusCounts: []
                    owners: []
                    updatedAt: "2026-10-02T02:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
  "/api/v1/admin/b2b/quote-requests/{requestId}":
    get:
      tags:
        - "B2B"
      operationId: "getAdminB2bQuoteRequestsRequestId"
      summary: "Internal B2B request detail. Must never be exposed through Customer BFF."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "requestId"
                  - "requestNumber"
                  - "companyName"
                  - "taxCode"
                  - "submittedAt"
                  - "lineCount"
                  - "totalQuantity"
                  - "status"
                  - "statusLabel"
                  - "slaState"
                  - "slaLabel"
                  - "owner"
                  - "currentQuoteVersion"
                  - "quoteExpiresAt"
                  - "estimatedValueVnd"
                  - "company"
                  - "requester"
                  - "purposeLabel"
                  - "requestedDeliveryDate"
                  - "deliveryLocation"
                  - "notes"
                  - "items"
                  - "customizations"
                  - "files"
                  - "quote"
                  - "activity"
                  - "allowedActions"
                properties:
                  requestId:
                    type: "string"
                  requestNumber:
                    type: "string"
                  companyName:
                    type: "string"
                  taxCode:
                    type: "string"
                  submittedAt:
                    type: "string"
                    format: "date-time"
                  lineCount:
                    type: "integer"
                  totalQuantity:
                    type: "integer"
                  status:
                    type: "string"
                  statusLabel:
                    type: "string"
                  slaState:
                    type: "string"
                  slaLabel:
                    type: "string"
                  owner:
                    type:
                      - "string"
                      - "null"
                    description: "owner may be null."
                  currentQuoteVersion:
                    type:
                      - "string"
                      - "null"
                    description: "currentQuoteVersion may be null."
                  quoteExpiresAt:
                    type:
                      - "string"
                      - "null"
                    description: "quoteExpiresAt may be null."
                  estimatedValueVnd:
                    type: "integer"
                  company:
                    type: "object"
                    required:
                      - "legalName"
                      - "taxCode"
                      - "invoiceAddress"
                      - "verificationStatus"
                    properties:
                      legalName:
                        type: "string"
                      taxCode:
                        type: "string"
                      invoiceAddress:
                        type: "string"
                      verificationStatus:
                        type: "string"
                    additionalProperties: false
                  requester:
                    type: "object"
                    required:
                      - "displayName"
                      - "title"
                      - "phone"
                      - "email"
                    properties:
                      displayName:
                        type: "string"
                      title:
                        type: "string"
                      phone:
                        type: "string"
                      email:
                        type: "string"
                        format: "email"
                    additionalProperties: false
                  purposeLabel:
                    type: "string"
                  requestedDeliveryDate:
                    type: "string"
                    format: "date-time"
                  deliveryLocation:
                    type: "string"
                  notes:
                    type: "string"
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "skuId"
                        - "name"
                        - "variant"
                        - "quantity"
                        - "catalogPriceVnd"
                      properties:
                        skuId:
                          type: "string"
                        name:
                          type: "string"
                        variant:
                          type: "string"
                        quantity:
                          type: "integer"
                        catalogPriceVnd:
                          type: "integer"
                      additionalProperties: false
                  customizations:
                    type: "array"
                    items:
                      type: "string"
                  files:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "fileId"
                        - "fileName"
                        - "mediaType"
                        - "scanStatus"
                      properties:
                        fileId:
                          type: "string"
                        fileName:
                          type: "string"
                        mediaType:
                          type: "string"
                        scanStatus:
                          type: "string"
                      additionalProperties: false
                  quote:
                    type:
                      - "string"
                      - "null"
                    description: "quote may be null."
                  activity:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "occurredAt"
                        - "actorLabel"
                        - "description"
                      properties:
                        occurredAt:
                          type: "string"
                          format: "date-time"
                        actorLabel:
                          type: "string"
                        description:
                          type: "string"
                      additionalProperties: false
                  allowedActions:
                    type: "array"
                    items:
                      type: "string"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    requestId: "{{urlParam 'requestId'}}"
                    requestNumber: "B2BR-2026-FPT-09"
                    companyName: "Tập đoàn FPT - Chi nhánh Miền Trung"
                    taxCode: "0101248141"
                    submittedAt: "2026-10-02T01:15:00.000Z"
                    lineCount: 3
                    totalQuantity: 200
                    status: "REQUESTED"
                    statusLabel: "Yêu cầu mới"
                    slaState: "AT_RISK"
                    slaLabel: "Còn 38 phút"
                    owner: null
                    currentQuoteVersion: null
                    quoteExpiresAt: null
                    estimatedValueVnd: 152000000
                    company:
                      legalName: "Tập đoàn Công nghệ & Tài chính FPT - Chi nhánh Miền Trung"
                      taxCode: "0101248141"
                      invoiceAddress: "Tòa nhà FPT Complex, Phường Ngũ Hành Sơn, Thành phố Đà Nẵng"
                      verificationStatus: "VERIFIED"
                    requester:
                      displayName: "Trần Hoàng Uyên Thư"
                      title: "Trưởng phòng Đối ngoại"
                      phone: "0935882199"
                      email: "thutran@fpt.com.vn"
                    purposeLabel: "Tri ân khách hàng VIP và đối tác"
                    requestedDeliveryDate: "2026-11-15T00:00:00.000Z"
                    deliveryLocation: "Thành phố Đà Nẵng"
                    notes: "Ưu tiên bao bì trang trọng, đồng bộ màu nhận diện và chia hai đợt giao."
                    items:
                      -
                        skuId: "SKU-GIFT-ROYAL"
                        name: "Set Hoàng Gia Ngự Sắc"
                        variant: "Hộp gỗ khắc logo · 4 món bánh"
                        quantity: 80
                        catalogPriceVnd: 1250000
                      -
                        skuId: "SKU-GIFT-TRI-KY"
                        name: "Set Cố Đô Tri Kỷ"
                        variant: "Hộp gấm thêu hoa văn triều Nguyễn"
                        quantity: 70
                        catalogPriceVnd: 750000
                      -
                        skuId: "SKU-GIFT-THANH-NHA"
                        name: "Set Di Sản Thanh Nhã"
                        variant: "Nhãn OCOP và thiệp doanh nghiệp"
                        quantity: 50
                        catalogPriceVnd: 420000
                    customizations:
                      - "Khắc logo laser / ép nhũ kim"
                      - "Thiết kế sleeve theo nhận diện"
                      - "Thiệp chúc mừng riêng"
                    files:
                      -
                        fileId: "file-fpt-logo-01"
                        fileName: "FPT_Logo_Guideline.pdf"
                        mediaType: "application/pdf"
                        scanStatus: "SAFE"
                      -
                        fileId: "file-fpt-logo-02"
                        fileName: "FPT_Logo_Primary.svg"
                        mediaType: "image/svg+xml"
                        scanStatus: "SAFE"
                    quote: null
                    activity:
                      -
                        occurredAt: "2026-10-02T01:15:00.000Z"
                        actorLabel: "Trần Hoàng Uyên Thư · B2B Customer"
                        description: "Gửi yêu cầu báo giá B2B"
                      -
                        occurredAt: "2026-10-02T01:16:00.000Z"
                        actorLabel: "Hệ thống"
                        description: "Kiểm tra metadata tệp hoàn tất"
                    allowedActions:
                      - "VIEW"
                      - "ASSIGN"
                      - "REQUEST_INFO"
                      - "CREATE_DRAFT"
                      - "REJECT"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "requestId"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
  "/api/v1/admin/b2b/quote-requests/{requestId}/actions":
    post:
      tags:
        - "B2B"
      operationId: "postAdminB2bQuoteRequestsRequestIdActions"
      summary: "Mock acknowledgement for permission-checked popup actions in ADM-034. BFF derives the result state from the validated action."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "accepted"
                  - "message"
                  - "quoteId"
                  - "quoteVersion"
                properties:
                  accepted:
                    type: "boolean"
                  message:
                    type: "string"
                  quoteId:
                    type: "string"
                  quoteVersion:
                    type: "integer"
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    accepted: true
                    message: "Thao tác nội bộ đã được ghi nhận và thêm vào lịch sử yêu cầu."
                    quoteId: "quote-admin-draft-001"
                    quoteVersion: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "requestId"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
        -
          $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
                - "action"
                - "expectedRevision"
                - "assigneeId"
                - "idempotencyKey"
              properties:
                action:
                  type: "string"
                expectedRevision:
                  type: "integer"
                assigneeId:
                  type: "string"
                idempotencyKey:
                  type: "string"
              additionalProperties: false
            example:
              action: "ASSIGN"
              expectedRevision: 4
              assigneeId: "EMP-0007"
              idempotencyKey: "2c20501b-56a5-4f18-adb4-84d42eca6e03"
  "/api/v1/admin/b2b/quote-requests/{requestId}/files":
    get:
      tags:
        - "B2B"
      operationId: "getAdminB2bQuoteRequestsRequestIdFiles"
      summary: "Permission-protected B2B file metadata and version history for US-B2B-02 / FR-B2B-04~06. The response intentionally omits storage references and binary access URLs."
      x-lifecycle: "stable"
      x-backlog:
        - "EPIC_18"
      x-ui-states:
        - "loading"
        - "success"
        - "empty"
        - "error"
        - "unauthorized"
        - "forbidden"
      x-test-latency-ms: 1200
      security:
        -
          bearerAuth: []
        -
          adminSession: []
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "requestId"
                  - "requestNumber"
                  - "items"
                properties:
                  requestId:
                    type: "string"
                  requestNumber:
                    type: "string"
                  items:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "fileId"
                        - "purposeLabel"
                        - "ownerOrganizationId"
                        - "ownerOrganizationName"
                        - "currentVersion"
                        - "versions"
                      properties:
                        fileId:
                          type: "string"
                        purposeLabel:
                          type: "string"
                        ownerOrganizationId:
                          type: "string"
                        ownerOrganizationName:
                          type: "string"
                        currentVersion:
                          type: "integer"
                        versions:
                          type: "array"
                          items:
                            type: "object"
                            required:
                              - "version"
                              - "isCurrent"
                              - "fileName"
                              - "mediaType"
                              - "sizeBytes"
                              - "scanStatus"
                              - "uploadedAt"
                              - "uploadedByLabel"
                              - "referencedByQuoteVersions"
                            properties:
                              version:
                                type: "integer"
                              isCurrent:
                                type: "boolean"
                              fileName:
                                type: "string"
                              mediaType:
                                type: "string"
                              sizeBytes:
                                type: "integer"
                              scanStatus:
                                type: "string"
                              uploadedAt:
                                type: "string"
                                format: "date-time"
                              uploadedByLabel:
                                type: "string"
                              referencedByQuoteVersions:
                                type: "array"
                                items:
                                  type: "integer"
                            additionalProperties: false
                      additionalProperties: false
                additionalProperties: false
              examples:
                success:
                  summary: "Successful response"
                  value:
                    requestId: "{{urlParam 'requestId'}}"
                    requestNumber: "B2BR-2026-FPT-09"
                    items:
                      -
                        fileId: "file-fpt-logo"
                        purposeLabel: "Logo công ty"
                        ownerOrganizationId: "org-fpt-central"
                        ownerOrganizationName: "Tập đoàn FPT - Chi nhánh Miền Trung"
                        currentVersion: 2
                        versions:
                          -
                            version: 2
                            isCurrent: true
                            fileName: "FPT_Logo_Primary_v2.svg"
                            mediaType: "image/svg+xml"
                            sizeBytes: 184320
                            scanStatus: "SAFE"
                            uploadedAt: "2026-10-02T01:12:00.000Z"
                            uploadedByLabel: "Trần Hoàng Uyên Thư · B2B Customer"
                            referencedByQuoteVersions: []
                          -
                            version: 1
                            isCurrent: false
                            fileName: "FPT_Logo_Primary.svg"
                            mediaType: "image/svg+xml"
                            sizeBytes: 176128
                            scanStatus: "SAFE"
                            uploadedAt: "2026-09-26T03:20:00.000Z"
                            uploadedByLabel: "Trần Hoàng Uyên Thư · B2B Customer"
                            referencedByQuoteVersions:
                              - 1
                      -
                        fileId: "file-fpt-guideline"
                        purposeLabel: "Hướng dẫn nhận diện và thiết kế bao bì"
                        ownerOrganizationId: "org-fpt-central"
                        ownerOrganizationName: "Tập đoàn FPT - Chi nhánh Miền Trung"
                        currentVersion: 2
                        versions:
                          -
                            version: 2
                            isCurrent: true
                            fileName: "FPT_Brand_Guideline_2026.pdf"
                            mediaType: "application/pdf"
                            sizeBytes: 4280320
                            scanStatus: "PROCESSING"
                            uploadedAt: "2026-10-02T01:14:00.000Z"
                            uploadedByLabel: "Trần Hoàng Uyên Thư · B2B Customer"
                            referencedByQuoteVersions: []
                          -
                            version: 1
                            isCurrent: false
                            fileName: "FPT_Brand_Guideline_draft.pdf"
                            mediaType: "application/pdf"
                            sizeBytes: 3997696
                            scanStatus: "REJECTED"
                            uploadedAt: "2026-09-25T08:40:00.000Z"
                            uploadedByLabel: "Trần Hoàng Uyên Thư · B2B Customer"
                            referencedByQuoteVersions: []
                empty:
                  summary: "Valid empty result"
                  value:
                    requestId: "{{urlParam 'requestId'}}"
                    requestNumber: "B2BR-2026-FPT-09"
                    items: []
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
      parameters:
        -
          name: "requestId"
          in: "path"
          required: true
          schema:
            type: "string"
            minLength: 1
        -
          name: "q"
          in: "query"
          required: false
          description: "Case-insensitive search text for supported identifiers and labels."
          schema:
            type: "string"
            maxLength: 200
        -
          name: "status"
          in: "query"
          required: false
          description: "Domain status filter. Allowed values are defined by the endpoint response status vocabulary."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
        -
          name: "pageSize"
          in: "query"
          required: false
[...]
